*, *::before, *::after {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 4px;
	overflow-y: scroll;
	background-color: skyblue;
	color: white;
}

hr {
	width: 600px;
	border: none;
	border-top: 8px dotted #6297D6;
	margin: 10px auto;
}

.invalid-input {
	border: 2px solid red !important;
}
